{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    ["inline-import", {
      "extensions": [".md"]
    }],
    ["module-resolver", {
      "alias": {
        "imgs": "./src/imgs",
        "constants": "./src/constants",
        "databases": "./src/databases",
        "utils": "./src/utils",
        "react-md": "../"
      }
    }]
  ]
}
